extends layout

block content
  .centered-div
    .logo
      img(src='images/big_logo.png')
    .row(id='social')
      p
        span
          a(href='/results')

            img(id='facebook', src='images/facebook_button.png')
        span
          a(href='/results')
            img(id='twitter', src='images/twitter_button.png')

