extends layout

block content
  .centered-div
    .logo
      img(src='images/big_logo.png')
    .row(id='social')
      p
        span
          a(href='https://api.singly.com/oauth/authorize?client_id=b9d842719872fc702226e594fb830761&service=facebook&redirect_uri=http://localhost:3000/results')

            img(id='facebook', src='images/facebook_button.png')
        span
          a(href='/results')
            img(id='twitter', src='images/twitter_button.png')

