extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#')
          img(src='images/little_logo.png')
        .nav-collapse.collapse
          p.navbar-text.pull-right
            img(src='#{session.facebook[0].profile.picture.data.url}')

            a.navbar-link(href='#')  #{session.facebook[0].profile.name} 
  .container-fluid
    .row-fluid
      .span3
        .sidebar-nav
          ul.nav.nav-list
            li.nav-header Hackathon
            li(id='current_hackathon')
              img(src='images/hackathon.png')
            li.nav-header Developer
            li(id='ruby')
              a(href='#') Ruby
            li(id='python')
              a(href='#') Python
            li(id='javascript')
              a(href='#') JavaScript
            li(id='php')
              a(href='#', id='php') PHP
            li
              input.input-medium(type='text', placeholder='add another')
            
            li.nav-header Designer
            li(id='photoshop')
              a(href='#') Photoshop
            li(id='illustrator')
              a(href='#') Illustrator
            li(id='frontend')
              a(href='#') Frontend Design

            li.nav-header Sidebar
            li
              a(href='#') Link
            li
              a(href='#') Link
            li
              a(href='#') Link
      .span9
        .hero-unit
          h2 API Sponsors
          img(src='images/twiliologo.png')
          img(src='images/masherylogonew.png')
          img(src='images/ordrinlogo.png')
          img(src='images/opentokeventbritelogo.png')
          img(src='images/tumblrlogo.png')
          img(src='images/singlyeventbritelogo.png')
          img(src='images/ikanoweventbritelogo.png')
          img(src='images/sendgridlogo.png')

        .row-fluid
          div.hackgroup.span4
            div.photo-row
              img(src="images/placeholder.png")
              img(src="images/placeholder.png")
              img(src="images/placeholder.png")
              img(src="images/placeholder.png")
            h2 Hack Group
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            div.button-row.clearfix
              a.btn(href='#') Details »
              a.btn.btn-primary(href='#') Join »
          .span4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn(href='#') View details »
          .span4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn(href='#') View details »
        .row-fluid
          .span4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn(href='#') View details »
          .span4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn(href='#') View details »
          .span4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn(href='#') View details »
