extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#')
          img(src='images/little_logo.png')
        .nav-collapse.collapse
          p.navbar-text.pull-right
            | Logged in as
            a.navbar-link(href='#') #{session.facebook.name} 
  .container
    .row
      .span3
        .sidebar-nav
          ul.nav.nav-list
            li.nav-header Hackathon
            li(id='current_hackathon')
              img(src='images/hackathon.png')
            li.nav-header Developer
            li(id='ruby')
              a(href='#') Ruby
            li(id='python')
              a(href='#') Python
            li(id='javascript')
              a(href='#') JavaScript
            li(id='php')
              a(href='#', id='php') PHP
            li
              input.input-medium(type='text', placeholder='add another')
            
            li.nav-header Designer
            li(id='photoshop')
              a(href='#') Photoshop
            li(id='illustrator')
              a(href='#') Illustrator
            li(id='frontend')
              a(href='#') Frontend Design

            li.nav-header Sidebar
            li
              a(href='#') Link
            li
              a(href='#') Link
            li
              a(href='#') Link
      .span9
        .hero-unit
          h1 Hello, world!
          p
            | This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
          p
            a.btn.btn-primary.btn-large Learn more »
        .row-fluid
          .span4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn(href='#') View details »
          .span4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn(href='#') View details »
          .span4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn(href='#') View details »
        .row-fluid
          .span4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn(href='#') View details »
          .span4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn(href='#') View details »
          .span4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn(href='#') View details »
