extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#')
          img(src='images/little_logo.png')
        .nav-collapse.collapse
          p.navbar-text.pull-right
            img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/157141_100000588912346_1949363080_q.jpg')

            a.navbar-link(href='#')  Sahat Yalkabov
  .container-fluid
    .row-fluid
      .span3
        .sidebar-nav
          ul.nav.nav-list
            li.nav-header Hackathon
            li(id='current_hackathon')
              img(src='images/hackathon.png')
            li.nav-header Developer
            li(id='ruby')
              a(href='#') Ruby
            li(id='python')
              a(href='#') Python
            li(id='javascript')
              a(href='#') JavaScript
            li(id='php')
              a(href='#', id='php') PHP
            li
              input.input-medium(type='text', placeholder='add another')
            
            li.nav-header Designer
            li(id='photoshop')
              a(href='#') Photoshop
            li(id='illustrator')
              a(href='#') Illustrator
            li(id='frontend')
              a(href='#') Frontend Design
            li
              input.input-medium(type='text', placeholder='add another')


      .span9
        .hero-unit
          h2 API Sponsors
          img(src='images/twiliologo.png')
          img(src='images/masherylogonew.png')
          img(src='images/ordrinlogo.png')
          img(src='images/opentokeventbritelogo.png')
          img(src='images/tumblrlogo.png')
          img(src='images/singlyeventbritelogo.png')
          img(src='images/ikanoweventbritelogo.png')
          img(src='images/sendgridlogo.png')
          
        .modal.hide.fade(id='myModal')
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3 User Stats
          .modal-body
            p
              strong Skills:
              |  PHP, CSS, HTML, JavaScript, Ruby on Rails
            p 
              strong Description: 
              |  My first hackathon!!!
          .modal-footer
            a.btn.btn-primary(href='#')
              i.icon-comment.icon-white
              |  Send Message
  
  
        .row-fluid
          div.hackgroup.span4(id='group1')
            div.photo-row
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
            h2 Food For Devs!
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            div.button-row.clearfix
              a.btn(href='#') Details »
              a.btn.btn-primary(href='#') Join »
              
          div.hackgroup.span4(id='group2')
            div.photo-row(id='photorow_group2')
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
            h2 Hackity Hack
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            div.button-row.clearfix
              a.btn(href='#') Details »
              a.btn.btn-primary(href='#', id='join_group2') Join »
              
          div.hackgroup.span4(id='group3')
            div.photo-row
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
            h2 Ruby Soho
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            div.button-row.clearfix
              a.btn(href='#') Details »
              a.btn.btn-primary(href='#') Join »
        .row-fluid
          div.hackgroup.span4(id='group4')
            div.photo-row
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
            h2 Food For Devs!
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            div.button-row.clearfix
              a.btn(href='#') Details »
              a.btn.btn-primary(href='#') Join »

          div.hackgroup.span4(id='group5')
            div.photo-row
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
            h2 Hackity Hack
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            div.button-row.clearfix
              a.btn(href='#') Details »
              a.btn.btn-primary(href='#') Join »

          div.hackgroup.span4(id='group6')
            div.photo-row
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
              a(href='#myModal', role='button', data-toggle='modal')
                img(src="images/placeholder.png")
            h2 Ruby Soho
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            div.button-row.clearfix
              a.btn(href='#') Details »
              a.btn.btn-primary(href='#') Join »
