body {
	background: url(../images/hackday.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.form-signin {
position: absolute;
top: 50%;
left: 50%;
width: 500px;
height: 500px;
margin-top: -225px; /* Half the height */
margin-left: -250px; /* Half the width */
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
font-size: 16px;
height: auto;
margin-bottom: 15px;
padding: 7px 9px;


.inset:first-child {
left: auto;
right: 50%;
margin: 0 10px 0 0;
}


.inset {
position: absolute;
top: 0;
left: 50%;
margin: 0 0 0 10px;
padding: 5px;
height: 40px;
min-width: 200px;
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
box-shadow: inset 0px 1px 2px rgba(50,50,50,0.5);
-moz-box-shadow: inset 0px 1px 2px rgba(50,50,50,0.5);
-webkit-box-shadow: inset 0px 1px 2px rgba(50,50,50,0.5);
}

.fb {
background: #3b5998;
background: -moz-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b5998), color-stop(50%, #3b5998), color-stop(50%, #325190), color-stop(100%, #325190));
background: -webkit-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);
background: -o-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);
background: -ms-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b5998', endColorstr='#325190',GradientType=0 );
background: linear-gradient(top, #3b5998 0%,#3b5998 50%,#325190 50%,#325190 100%);
box-shadow: 0px 3px 0px #213b6d;
-moz-box-shadow: 0px 3px 0px #213b6d;
-webkit-box-shadow: 0px 3px 0px #213b6d;
}


.login_button {
display: block;
min-width: 200px;
height: 37px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
-webkit-user-select: none;

.fb .logo_wrapper {
border-right: 1px solid #2f4f85;

.login_button .logo_wrapper {
float: left;
margin-top: 7px;
padding: 3px 12px;
}

.social_buttons{position:relative;height:50px}.inset{position:absolute;top:0;left:50%;margin:0 0 0 10px;padding:5px;height:40px;min-width:200px;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:inset 0px 1px 2px rgba(50,50,50,0.5);-moz-box-shadow:inset 0px 1px 2px rgba(50,50,50,0.5);-webkit-box-shadow:inset 0px 1px 2px rgba(50,50,50,0.5)}.inset:first-child{left:auto;right:50%;margin:0 10px 0 0}.login_button{display:block;min-width:200px;height:37px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;-webkit-user-select:none}.login_button:hover{text-decoration:none;cursor:pointer}.login_button:active{height:38px;margin-top:2px}.login_button>span{float:left;min-height:20px;margin-top:7px;padding:3px 12px;font-size:14px;font-weight:500;color:#fff}.login_button .logo_wrapper{float:left;margin-top:7px;padding:3px 12px}.fb{background:#3b5998;background:-moz-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b5998), color-stop(50%, #3b5998), color-stop(50%, #325190), color-stop(100%, #325190));background:-webkit-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);background:-o-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);background:-ms-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b5998', endColorstr='#325190',GradientType=0 );background:linear-gradient(top, #3b5998 0%,#3b5998 50%,#325190 50%,#325190 100%);box-shadow:0px 3px 0px #213b6d;-moz-box-shadow:0px 3px 0px #213b6d;-webkit-box-shadow:0px 3px 0px #213b6d}.fb:hover{background:#2b4582;background:-moz-linear-gradient(top, #2b4582 0%, #2b4582 49%, #243d79 49%, #2b4582 100%, #243d79 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b4582), color-stop(49%, #2b4582), color-stop(49%, #243d79), color-stop(100%, #2b4582), color-stop(100%, #243d79));background:-webkit-linear-gradient(top, #2b4582 0%, #2b4582 49%, #243d79 49%, #2b4582 100%, #243d79 100%);background:-o-linear-gradient(top, #2b4582 0%, #2b4582 49%, #243d79 49%, #2b4582 100%, #243d79 100%);background:-ms-linear-gradient(top, #2b4582 0%, #2b4582 49%, #243d79 49%, #2b4582 100%, #243d79 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b4582', endColorstr='#243d79',GradientType=0 );background:linear-gradient(top, #2b4582 0%,#2b4582 49%,#243d79 49%,#2b4582 100%,#243d79 100%);box-shadow:0px 3px 0px #172d59;-moz-box-shadow:0px 3px 0px #172d59;-webkit-box-shadow:0px 3px 0px #172d59}.fb:active{background-color:#243d79;background-image:none;box-shadow:inset 0px 1px 0px rgba(50,50,50,0.4);-moz-box-shadow:inset 0px 1px 0px rgba(50,50,50,0.4);-webkit-box-shadow:inset 0px 1px 0px rgba(50,50,50,0.4)}.fb .logo_wrapper{border-right:1px solid #2f4f85}.fb:hover .logo_wrapper{border-right:1px solid #284473}.fb:active .logo_wrapper{border-right-color:#21386e}.fb .logo{float:left;width:11px;height:20px;background:url("../images/login_icons.png") -258px 0 no-repeat}.fb>span{border-left:1px solid #627ba8}.fb:hover>span{border-left:1px solid #51668c}.fb:active>span{border-left-color:#2c4b94}.tw{background:#32c1f0;background:-moz-linear-gradient(top, #32c1f0 0%, #32c1f0 49%, #30bbe9 49%, #30bbe9 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #32c1f0), color-stop(49%, #32c1f0), color-stop(49%, #30bbe9), color-stop(100%, #30bbe9));background:-webkit-linear-gradient(top, #32c1f0 0%, #32c1f0 49%, #30bbe9 49%, #30bbe9 100%);background:-o-linear-gradient(top, #32c1f0 0%, #32c1f0 49%, #30bbe9 49%, #30bbe9 100%);background:-ms-linear-gradient(top, #32c1f0 0%, #32c1f0 49%, #30bbe9 49%, #30bbe9 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#32c1f0', endColorstr='#30bbe9',GradientType=0 );background:linear-gradient(top, #32c1f0 0%,#32c1f0 49%,#30bbe9 49%,#30bbe9 100%);box-shadow:0px 3px 0px #249bc4;-moz-box-shadow:0px 3px 0px #249bc4;-webkit-box-shadow:0px 3px 0px #249bc4}.tw:hover{background:#18b8ee;background:-moz-linear-gradient(top, #18b8ee 0%, #18b8ee 49%, #18b2e6 49%, #18b2e6 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #18b8ee), color-stop(49%, #18b8ee), color-stop(49%, #18b2e6), color-stop(100%, #18b2e6));background:-webkit-linear-gradient(top, #18b8ee 0%, #18b8ee 49%, #18b2e6 49%, #18b2e6 100%);background:-o-linear-gradient(top, #18b8ee 0%, #18b8ee 49%, #18b2e6 49%, #18b2e6 100%);background:-ms-linear-gradient(top, #18b8ee 0%, #18b8ee 49%, #18b2e6 49%, #18b2e6 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#18b8ee', endColorstr='#18b2e6',GradientType=0 );background:linear-gradient(top, #18b8ee 0%,#18b8ee 49%,#18b2e6 49%,#18b2e6 100%);box-shadow:0px 3px 0px #1d82a5;-moz-box-shadow:0px 3px 0px #1d82a5;-webkit-box-shadow:0px 3px 0px #1d82a5}.tw:active{height:38px;background-color:#2088B4;background-image:none;box-shadow:inset 0px 1px 0px rgba(50,50,50,0.4);-moz-box-shadow:inset 0px 1px 0px rgba(50,50,50,0.4);-webkit-box-shadow:inset 0px 1px 0px rgba(50,50,50,0.4)}.tw .logo_wrapper{padding-top:5px;padding-right:8px;padding-left:8px;border-right:1px solid #12abdd}.tw:active .logo_wrapper{border-right-color:#1f83ad}.tw .logo{float:left;width:21px;height:17px;margin-top:1px;background:url("../images/login_icons.png") -269px 0 no-repeat}
